.board {
    margin: auto;
}

.columnGroup {
}

.column {
    width: 100px;
}

.cardList {
    list-style: none;
}

.card {
    width: 180px;
    height: 120px;
    border: 1px solid black;
    margin: 2px;
    overflow: hidden;
}
