.board {
}

.column-group {
    float: left;
}

.board h2, .board h3 {
    text-align: center;
}

.column {
    width: 185px;
    height: 350px;
    border-right: 2px solid gray;
    float: left;
    overflow: hidden;
}

.card-list {
    height: 120px; /*Need some room to drag a new card to an empty list*/
    list-style: none;
    margin: 0;
    padding: 0;
}

.card-list > li {
    margin: 0;
    padding: 0;
    border: 0;
}

.card {
    max-height: 120px;
    margin: 2px;
    overflow: hidden;
    border: 1px solid black;
}

.card > .title {
    /*background-color: #009900;*/
    /*color: #ffffff;*/
    /*text-overflow: ellipsis;*/
}

.card > .body {
    /*background-color: #00ff00;*/
    /*font-weight: bold;*/
    /*text-overflow: ellipsis;*/
}

.card-create-dialog textarea {
    resize: none;
}

.clear {
    clear: both;
}
