{% extends "base.html" %}
{% block title %}Signboard{% endblock %}
{% block head %}
    <script src="{{ url_for('static', filename='js/lib/angular-1.0.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/angular-resource-1.0.1.js') }}"></script>
    {{ super() }}
    <script src="{{ url_for('static', filename='js/lib/jquery-ui-1.8.21.custom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jquery.colorbox.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/d3.v2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/signboardCtrls.js') }}"></script>
    <script src="{{ url_for('static', filename='js/signboardComponents.js') }}"></script>
    <script src="{{ url_for('static', filename='js/signboardServices.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/colorbox.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signboard.css') }}">
{% endblock %}
{% block content %}
    <noscript>
        <!--No unobtrusive javascript to fallback on, so get rid of everything if javascript is disabled-->
        <style type="text/css">
            .appContainer { display: none; }
        </style>
        <span>This application requires javascript</span>
    </noscript>

    <div data-ng-app="signboard" data-ng-cloak class="appContainer">
        <script type="text/ng-template" id="column-template">
            <span>
                <h3>{* column.name *}</h3>
                <button data-ng-show="$parent.$index == 0 && $index == 0" data-ng-click="clearModel()" class="btn btn-primary new-card">
                    <i class="icon-plus icon-white"></i> New Card
                </button>
                <ul class="card-list">
                    <li data-ng-repeat="id in column.cardIds">
                        <card/>
                    </li>
                </ul>

                <div style="display:none;"> <!--Modal dialog only shown through colorbox-->
                    <div class="card-create-dialog">
                        <form class="well">
                            <input data-ng-model="title" type="text" class="span3" placeholder="Title">
                            <br/>
                            <textarea data-ng-model="description" class="input-xlarge" placeholder="Description" rows="7"/>
                            </textarea>
                            <br/>
                            <button data-ng-click="newCard(title, description)" type="submit" class="btn submit-card">
                                <i class="icon-ok-sign"></i> Submit
                            </button>
                        </form>
                    </div>
                </div>
            </span>
        </script>

        <script type="text/ng-template" id="card-template">
            <div class="card" data-card-id="{* id *}">
                <div class="header">
                    <i data-ng-click="removeCard(id, true)" class="icon-remove"></i>
                </div>
                <div class="title">
                    <h4 data-ng-click="toggleCollapsed()">{* signboard.cards[id].name *}</h4>
                </div>
                <div data-ng-hide="collapsed" class="body">
                    {* signboard.cards[id].description *}
                </div>
            </div>
        </script>

        <div data-ng-controller="BoardCtrl" data-ng-cloak class="board">
            <div data-ng-repeat="columnGroup in signboard.columnGroups" data-group-index="{* $index *}" class="column-group">
                <h2>{* columnGroup.name *}</h2>
                <hr/>
                <div data-ng-repeat="column in columnGroup.columns" data-column-index="{* $index *}" class="column">
                    <column/>
                </div>
            </div>
            <div class="clear"/>
            <br/>
            <pre><h3>Debug Info</h3>{* signboard | json *}</pre>
        </div>
    </div>
{% endblock %}
