{% extends "base.html" %}
{% block title %}Signboard{% endblock %}
{% block head %}
    <script src="{{ url_for('static', filename='js/lib/angular-1.0.0.js') }}"></script>
    {{ super() }}
    <script src="{{ url_for('static', filename='js/lib/jquery-ui-1.8.21.custom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/signboardCtrls.js') }}"></script>
    <script src="{{ url_for('static', filename='js/signboardComponents.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signboard.css') }}">
{% endblock %}
{% block content %}
    <noscript>
        <!--No unobtrusive javascript to fallback on, so get rid of everything if javascript is disabled-->
        <style type="text/css">
            .appContainer { display: none; }
        </style>
        <span>This application requires javascript</span>
    </noscript>

    <div data-ng-app="Signboard" class="appContainer">
        <script type="text/ng-template" id="columnGroupTemplate">
            <span>
                <h2>{* columnGroup.name *}</h2>
                <div data-ng-repeat="column in columnGroup.columns" class="column">
                    <column/>
                </div>
            </span>
        </script>

        <script type="text/ng-template" id="columnTemplate">
            <span>
                <h3>{* column.name *}</h3>
                <ul class="cardList">
                    <li data-ng-repeat="id in column.cardIds" class="card">
                        <card/>
                    </li>
                </ul>
            </span>
        </script>

        <script type="text/ng-template" id="cardTemplate">
            <div class="card">
                <h4 data-ng-click="toggleCollapsed()">{* signboard.cards[id].name *}</h4>
                <div data-ng-hide="collapsed">{* signboard.cards[id].description *}</div>
            </div>
        </script>

        <div data-ng-controller="BoardCtrl" class="board">
            <div data-ng-repeat="columnGroup in signboard.columnGroups" class="columnGroup">
                <column-group/>
            </div>
            <div class="clear"/>
            <br/>
            <pre>{* signboard | json *}</pre>
        </div>
    </div>
{% endblock %}
